<!--
  Copyright Utah State University Research Foundation.
  All rights reserved except as specified below.
  This information is protected by a Non-Disclosure/Government Purpose
  License Agreement and is authorized only for United States Federal
  Government use.
  This information may be subject to export control.
-->
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" ng-app="login">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge;"/>
  <meta http-equiv="Content-Style-Type" content="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>DDE Login</title>
  <script src="/js/vendor.min.js"></script>
  <script src="/js/main.min.js"></script>
  <link rel="stylesheet" href="/css/vendor.min.css" />
  <link rel="stylesheet" href="/css/bootstrap-default.min.css" />
  <link rel="stylesheet" href="/css/main-default.min.css" />
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" >
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" >
</head>
<body>
  <div class="container-fluid jumbotron">
    <form class="form-horizontal" role="form" ng-submit="submit()" ng-controller="loginCtrl" method="post">
      <div class="col-sm-offset-4 col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <img class="center-block" src="/images/logo.png" height="50" width="73px" alt="DDE"/>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label for="username" class="control-label col-sm-3">Username</label>
              <div class="col-sm-9">
                <input id="username" class="form-control" type="text" placeholder="Username" ng-model="userName" autofocus="autofocus" />
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="control-label col-sm-3">Password</label>
              <div class="col-sm-9">
                <input id="password" class="form-control" type="password" autocomplete="off" placeholder="Password" ng-model="password" />
              </div>
            </div>
          </div>
          <div class="panel-footer clearfix">
            <button type="button" ng-if="pkiEnabled" ng-hide="loading"
              class="btn btn-link pull-left" ng-click="pkiLogin()">
              Log in with PKI certificate (i.e. DOD CAC/PIV)
            </button>
            <div class="pull-right">
              <label class="text-{{type}} control-label response-msg">{{message}}</label>
              <button type="submit" class="btn btn-primary" ng-disabled="loading">
                <span class="fa" ng-class="{'fa-sign-in': !loading, 'fa-spin fa-circle-o-notch': loading }"></span> Login
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</body>
</html>
